In [25]:
import pandas as pd

In [26]:
print("Nim  : 20125000720")
print("Nama : Hafiizh Taufiqul Hakim")

Nim  : 20125000720
Nama : Hafiizh Taufiqul Hakim

In [27]:
print("1. Mencetak keseluruhan data Penjualan")
df = pd.read_csv('officesuppliesnew.csv')
print(df)

1. Mencetak keseluruhan data Penjualan
      OrderDate   Region      Rep     Item  Units  Unit Price
0    4-Jul-2014     East  Richard  Pen Set     62        4.99
1   12-Jul-2014     East     Nick   Binder     29        1.99
2   21-Jul-2014  Central   Morgan  Pen Set     55       12.49
3   29-Jul-2014     East    Susan   Binder     81       19.99
4    7-Aug-2014  Central  Matthew  Pen Set     42       23.95
5   15-Aug-2014     East  Richard   Pencil     35        4.99
6   24-Aug-2014     West    James     Desk      3      275.00
7    1-Sep-2014  Central    Smith     Desk      2      125.00
8   10-Sep-2014  Central     Bill   Pencil      7        1.29
9   18-Sep-2014     East  Richard  Pen Set     16       15.99
10  27-Sep-2014     West    James      Pen     76        1.99
11   5-Oct-2014  Central   Morgan   Binder     28        8.99
12  14-Oct-2014     West   Thomas   Binder     57       19.99
13  22-Oct-2014     East  Richard      Pen     64        8.99
14  31-Oct-2014  Central   Rachel   Pencil     14        1.29
15   8-Nov-2014     East    Susan      Pen     15       19.99
16  17-Nov-2014  Central     Alex   Binder     11        4.99
17  25-Nov-2014  Central  Matthew  Pen Set     96        4.99
18   4-Dec-2014  Central     Alex   Binder     94       19.99
19  12-Dec-2014  Central    Smith   Pencil     67        1.29
20  21-Dec-2014  Central   Rachel   Binder     28        4.99
21  29-Dec-2014     East    Susan  Pen Set     74       15.99
22   6-Jan-2015     East  Richard   Pencil     95        1.99
23  15-Jan-2015  Central     Bill   Binder     46        8.99
24  23-Jan-2015  Central  Matthew   Binder     50       19.99
25   1-Feb-2015  Central    Smith   Binder     87       15.00
26   9-Feb-2015  Central     Alex   Pencil     36        4.99
27  18-Feb-2015     East  Richard   Binder      4        4.99
28  26-Feb-2015  Central     Bill      Pen     27       19.99
29   7-Mar-2015     West    James   Binder      7       19.99
30  15-Mar-2015     West    James   Pencil     56        2.99
31  24-Mar-2015  Central     Alex  Pen Set     50        4.99
32   1-Apr-2015     East  Richard   Binder     60        4.99
33  10-Apr-2015  Central   Rachel   Pencil     66        1.99
34  18-Apr-2015  Central   Rachel   Pencil     75        1.99
35  27-Apr-2015     East     Nick      Pen     96        4.99
36   5-May-2015  Central     Alex   Pencil     90        4.99
37  14-May-2015  Central     Bill   Pencil     53        1.29
38  22-May-2015     West   Thomas   Pencil     32        1.99
39  31-May-2015  Central     Bill   Binder     80        8.99
40   8-Jun-2015     East  Richard   Binder     60        8.99
41  17-Jun-2015  Central  Matthew     Desk      5      125.00
42  25-Jun-2015  Central   Morgan   Pencil     90        4.99

In [28]:
print("2. Menampilkan informasi data")
df.info()

2. Menampilkan informasi data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderDate   43 non-null     object
 1   Region      43 non-null     object
 2   Rep         43 non-null     object
 3   Item        43 non-null     object
 4   Units       43 non-null     int64
 5   Unit Price  43 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 2.1+ KB

In [29]:
print("3. Menampilkan 10 Baris Pertama")
df.head(10)

3. Menampilkan 10 Baris Pertama

     OrderDate   Region      Rep     Item  Units  Unit Price
0   4-Jul-2014     East  Richard  Pen Set     62        4.99
1  12-Jul-2014     East     Nick   Binder     29        1.99
2  21-Jul-2014  Central   Morgan  Pen Set     55       12.49
3  29-Jul-2014     East    Susan   Binder     81       19.99
4   7-Aug-2014  Central  Matthew  Pen Set     42       23.95
5  15-Aug-2014     East  Richard   Pencil     35        4.99
6  24-Aug-2014     West    James     Desk      3      275.00
7   1-Sep-2014  Central    Smith     Desk      2      125.00
8  10-Sep-2014  Central     Bill   Pencil      7        1.29
9  18-Sep-2014     East  Richard  Pen Set     16       15.99

In [30]:
print("4. Menampilkan 10 Baris terakhir")
df.tail(10)

4. Menampilkan 10 Baris terakhir

      OrderDate   Region      Rep    Item  Units  Unit Price
33  10-Apr-2015  Central   Rachel  Pencil     66        1.99
34  18-Apr-2015  Central   Rachel  Pencil     75        1.99
35  27-Apr-2015     East     Nick     Pen     96        4.99
36   5-May-2015  Central     Alex  Pencil     90        4.99
37  14-May-2015  Central     Bill  Pencil     53        1.29
38  22-May-2015     West   Thomas  Pencil     32        1.99
39  31-May-2015  Central     Bill  Binder     80        8.99
40   8-Jun-2015     East  Richard  Binder     60        8.99
41  17-Jun-2015  Central  Matthew    Desk      5      125.00
42  25-Jun-2015  Central   Morgan  Pencil     90        4.99

In [31]:
print("5. Menampilkan data statistik")
df.describe(include='all')
print(df)

5. Menampilkan data statistik
      OrderDate   Region      Rep     Item  Units  Unit Price
0    4-Jul-2014     East  Richard  Pen Set     62        4.99
1   12-Jul-2014     East     Nick   Binder     29        1.99
2   21-Jul-2014  Central   Morgan  Pen Set     55       12.49
3   29-Jul-2014     East    Susan   Binder     81       19.99
4    7-Aug-2014  Central  Matthew  Pen Set     42       23.95
5   15-Aug-2014     East  Richard   Pencil     35        4.99
6   24-Aug-2014     West    James     Desk      3      275.00
7    1-Sep-2014  Central    Smith     Desk      2      125.00
8   10-Sep-2014  Central     Bill   Pencil      7        1.29
9   18-Sep-2014     East  Richard  Pen Set     16       15.99
10  27-Sep-2014     West    James      Pen     76        1.99
11   5-Oct-2014  Central   Morgan   Binder     28        8.99
12  14-Oct-2014     West   Thomas   Binder     57       19.99
13  22-Oct-2014     East  Richard      Pen     64        8.99
14  31-Oct-2014  Central   Rachel   Pencil     14        1.29
15   8-Nov-2014     East    Susan      Pen     15       19.99
16  17-Nov-2014  Central     Alex   Binder     11        4.99
17  25-Nov-2014  Central  Matthew  Pen Set     96        4.99
18   4-Dec-2014  Central     Alex   Binder     94       19.99
19  12-Dec-2014  Central    Smith   Pencil     67        1.29
20  21-Dec-2014  Central   Rachel   Binder     28        4.99
21  29-Dec-2014     East    Susan  Pen Set     74       15.99
22   6-Jan-2015     East  Richard   Pencil     95        1.99
23  15-Jan-2015  Central     Bill   Binder     46        8.99
24  23-Jan-2015  Central  Matthew   Binder     50       19.99
25   1-Feb-2015  Central    Smith   Binder     87       15.00
26   9-Feb-2015  Central     Alex   Pencil     36        4.99
27  18-Feb-2015     East  Richard   Binder      4        4.99
28  26-Feb-2015  Central     Bill      Pen     27       19.99
29   7-Mar-2015     West    James   Binder      7       19.99
30  15-Mar-2015     West    James   Pencil     56        2.99
31  24-Mar-2015  Central     Alex  Pen Set     50        4.99
32   1-Apr-2015     East  Richard   Binder     60        4.99
33  10-Apr-2015  Central   Rachel   Pencil     66        1.99
34  18-Apr-2015  Central   Rachel   Pencil     75        1.99
35  27-Apr-2015     East     Nick      Pen     96        4.99
36   5-May-2015  Central     Alex   Pencil     90        4.99
37  14-May-2015  Central     Bill   Pencil     53        1.29
38  22-May-2015     West   Thomas   Pencil     32        1.99
39  31-May-2015  Central     Bill   Binder     80        8.99
40   8-Jun-2015     East  Richard   Binder     60        8.99
41  17-Jun-2015  Central  Matthew     Desk      5      125.00
42  25-Jun-2015  Central   Morgan   Pencil     90        4.99

In [32]:
print("6. Menampilkan data Penjualan total unit per Region")
total_region = df.groupby(['Region'])['Units'].sum().reset_index()
print(total_region)

6. Menampilkan data Penjualan total unit per Region
    Region  Units
0  Central   1199
1     East    691
2     West    231

In [33]:
print("7. Menampilkan data Penjualan total unit per Pegawai")
unit_pegawai = df.groupby(['Rep'])['Units'].sum().reset_index()
print(unit_pegawai)

7. Menampilkan data Penjualan total unit per Pegawai
        Rep  Units
0      Alex    281
1      Bill    213
2     James    142
3   Matthew    193
4    Morgan    173
5      Nick    125
6    Rachel    183
7   Richard    396
8     Smith    156
9     Susan    170
10   Thomas     89

In [34]:
print("8. Menampilkan data Penjualan total unit terbesar per Pegawai")
max_pegawai = df.groupby(['Rep'])['Units'].max().reset_index()
print(max_pegawai)

8. Menampilkan data Penjualan total unit terbesar per Pegawai
        Rep  Units
0      Alex     94
1      Bill     80
2     James     76
3   Matthew     96
4    Morgan     90
5      Nick     96
6    Rachel     75
7   Richard     95
8     Smith     87
9     Susan     81
10   Thomas     57

In [35]:
print("9. Menampilkan data Penjualan total unit per Item")
item_unit = df.groupby(['Item'])['Units'].sum().reset_index()
print(item_unit)

9. Menampilkan data Penjualan total unit per Item
      Item  Units
0   Binder    722
1     Desk     10
2      Pen    278
3  Pen Set    395
4   Pencil    716

In [36]:
print('10. Tampilkan data penjualan dengan menambahkan judul total harga berdasarkan perkalian Units * Price')
total_harga = df['Units'] * df['Unit Price']
print(total_harga)

10. Tampilkan data penjualan dengan menambahkan judul total harga berdasarkan perkalian Units * Price
0      309.38
1       57.71
2      686.95
3     1619.19
4     1005.90
5      174.65
6      825.00
7      250.00
8        9.03
9      255.84
10     151.24
11     251.72
12    1139.43
13     575.36
14      18.06
15     299.85
16      54.89
17     479.04
18    1879.06
19      86.43
20     139.72
21    1183.26
22     189.05
23     413.54
24     999.50
25    1305.00
26     179.64
27      19.96
28     539.73
29     139.93
30     167.44
31     249.50
32     299.40
33     131.34
34     149.25
35     479.04
36     449.10
37      68.37
38      63.68
39     719.20
40     539.40
41     625.00
42     449.10
dtype: float64